<ul class="breadcrumb">
    <li><a ui-sref="index">Home</a> <span class="divider">/</span></li>
    <li><a ui-sref="admin.index">Admin</a> <span class="divider">/</span></li>
    <li><a ui-sref="admin.comments">Comments</a><span class="divider">/</span></li>
    <li class="active">New comment</li>
</ul>

<div class="page-header">
    <h1>New comment</h1>
</div>

<div ng-show="err" class="alert alert-error">{{ err }}</div>
<div ng-show="success" class="alert alert-success">Comment saved</div>
<form name="createForm" ng-submit="create()" novalidate role="form" id="create-comment-form" class="form-horizontal ng-pristine ng-valid">
    <fieldset>
        <legend>New</legend>

        <div class="control-group">
            <label for="" class="col-sm-5 control-label">Message</label>
            <div class="col-sm-7 controls">
                <textarea cols="400" id="id_code" rows="10" class="form-control"
                          name="message" type="text" value=""
                          placeholder="Message" ng-model="item.message">
                </textarea>
            </div>
        </div>

        <div class="control-group">
            <label for="" class="col-sm-5 control-label">User</label>
            <div class="col-sm-7 controls">
                <input class="form-control" name="user_id" type="text" value="" placeholder="User" ng-model="item.user_id">
            </div>
        </div>

        <div class="control-group">
            <label for="" class="col-sm-5 control-label">Post</label>
            <div class="col-sm-7 controls">
                <input class="form-control" name="post_id" type="text" value="" placeholder="Post" ng-model="item.post_id">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-disabled="!createForm.$valid">
                <i class="icon-ok icon-white"></i> Create comment</button>
        </div>
    </fieldset>
</form>