<ul class="breadcrumb">
    <li><a ui-sref="index">Home</a> <span class="divider">/</span></li>
    <li class="active">Admin homepage</li>
</ul>

<div class="page-header">
    <h1>Admin homepage</h1>
</div>
<ul>
    <li>
        <a ui-sref="admin.users">Users</a>
    </li>
    <li>
        <a ui-sref="admin.examples">Examples</a>
    </li>
    <li>
        <a ui-sref="admin.sources">Sources</a>
    </li>
    <li>
        <a ui-sref="admin.posts">Posts</a>
    </li>
    <li>
        <a ui-sref="admin.comments">Comments</a>
    </li>
</ul>