<ul class="menu">
    <li><a ui-sref="index">Home</a></li>
    <li><a ui-sref="index.cv">Cv</a></li>
    <!--<li><a href="">About</a>-->
        <!--<ul class="subMenu">-->
            <!--<li><a href="">Company</a></li>-->
            <!--<li><a href="">Products</a></li>-->
            <!--<li><a href="">IT support</a></li>-->
            <!--<li><a href="">Development</a></li>-->
            <!--<li><a href="">News</a></li>-->
            <!--<li><a href="">Solutions</a></li>-->
        <!--</ul>-->
    <!--</li>-->
    <li><a ui-sref="index.contacts">Contacts</a></li>
    <li><a ui-sref="index.examples">Examples</a></li>
    <li><a ui-sref="index.blog">Blog</a></li>
</ul>