<!DOCTYPE html>
<html lang="en" id="ng-app">
<head>
    <title><%= title %></title>
    <%- stylesheet_link_tag(
            'bootstrap/bootstrap',
            'bootstrap/theme'
    ) %>
</head>
<body>
<div><a href="/">homepage</a></div>
<div class="container main">
    <%= error %>
</div>

<footer>
    <div class="container">
        <p>&copy; oNary 2014</p>
    </div>
</footer>
</body>
</html>